<div id="dashboard-modal" class="dashboard-modal-container">

    <div class="overlay" onclick="closeDashboard()"></div>

    <div class="dashboard-box">

        <button class="close-dashboard-btn" onclick="closeDashboard()">
            <i class="fas fa-times"></i>
        </button>

        <div id="dashboard-content">
            Загрузка...
        </div>
    </div>

</div>
