<div id="login-registration-container" class="login-registration-container">
    <div class="overlay" onclick="closeModal()"></div>

    <div class="form-box">

        <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn active" onclick="switchToLogin()">Войти</button>
            <button type="button" class="toggle-btn" onclick="switchToRegister()">Регистрация</button>
        </div>

        <form id="form_signin" class="input-group-signin">
            <div class="form-input">
                <i class="fa fa-envelope icon"></i>
                <input type="text" id="login-email" class="input-field" required placeholder=" ">
                <label for="login-email" class="input-label">Email</label>
            </div>

            <div class="form-input">
                <i class="fa fa-lock icon"></i>
                <input type="password" id="login-password" class="input-field" required placeholder=" ">
                <label for="login-password" class="input-label">Пароль</label>
            </div>

            <div id="error-messages-login" class="text-danger mb-2 text-center"></div>

            <button type="submit" id="btnLoginSubmit" class="submit-btn">Войти</button>

            <div class="divider-text">или войти через</div>

            <div class="google-wrapper">
                <div id="g_id_onload"
                     data-client_id="658972345156-chmbutbtvpqmeflh5jq3hmge1omvqtlt.apps.googleusercontent.com"
                     data-context="signin"
                     data-ux_mode="popup"
                     data-callback="handleGoogleLogin"
                     data-auto_prompt="false">
                </div>
                <div class="g_id_signin"
                     data-type="standard"
                     data-shape="rectangular"
                     data-theme="outline"
                     data-text="signin_with"
                     data-size="large"
                     data-logo_alignment="left"
                     data-width="320">
                </div>
            </div>
        </form>

        <form id="form_signup" class="input-group-signup hidden">

            <div class="form-input">
                <i class="fa fa-envelope icon"></i>
                <input type="email" id="register-email" class="input-field" required placeholder=" ">
                <label class="input-label">Email</label>
            </div>

            <div class="form-input">
                <i class="fa fa-user icon"></i>
                <input type="text" id="register-login" class="input-field" required placeholder=" ">
                <label class="input-label">Логин</label>
            </div>

            <div class="form-input">
                <i class="fa fa-lock icon"></i>
                <input type="password" id="register-password" class="input-field" required placeholder=" ">
                <label class="input-label">Пароль</label>
            </div>

            <div class="form-input">
                <i class="fa fa-lock icon"></i>
                <input type="password" id="register-password-confirm" class="input-field" required placeholder=" ">
                <label class="input-label">Повторите пароль</label>
            </div>

            <div id="error-messages-register" class="text-danger mb-2 text-center"></div>

            <button type="submit" id="btnRegisterSubmit" class="submit-btn">Зарегистрироваться</button>

            <div class="divider-text">или зарегистрироваться через</div>

            <div class="google-wrapper">
                <div class="g_id_signin"
                     data-type="standard"
                     data-shape="rectangular"
                     data-theme="outline"
                     data-text="signup_with"
                     data-size="large"
                     data-logo_alignment="left"
                     data-width="320">
                </div>
            </div>
        </form>

        <div id="codeVerificationBlock" class="verification-box" style="display:none;">
            <div class="verification-icon">
                <i class="fa fa-envelope-open-text"></i>
            </div>
            <h4>Проверьте почту</h4>
            <p class="verification-text">
                Мы отправили код подтверждения на:<br>
                <b id="displayEmail" class="email-highlight"></b>
            </p>

            <div class="code-input-wrapper">
                <input type="text" id="verificationCode" class="code-input" placeholder="- - - -" maxlength="4" autocomplete="off">
            </div>

            <div id="codeError" class="text-danger mb-2 text-center"></div>

            <button id="btnConfirmCode" class="submit-btn btn-confirm">Подтвердить код</button>
            <button type="button" class="btn-cancel" onclick="window.location.reload()">Отмена</button>
        </div>

        <button class="close-modal-btn" onclick="closeModal()">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>